<div class="container" style="margin-top:15px;">
	<div class="row">
		<div class="col-sm-8">
			<h1>{{restaurant.name}}</h1>
			<h4>{{restaurant.address}}</h4>
			<div>
				<input-stars max="5" icon-base="fa fa-lg fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="restaurant.score" readonly></input-stars>{{rating}}
			</div>
		</div>
		<div class="col-sm-4">
			<img class="img-responsive pull-right" style="max-width:300px;" src="{{restaurant.picture_url}}" alt="{{restaurant.name}} image"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="col-sm-offset-1 col-sm-10" style="overflow:scroll;height:600px;max-width:100%;border: 1px solid black">
				<div ng-repeat="item in menu_items">
					<div class="col-sm-4">
						<a href class="menu-item-link" ui-sref="menuItem({restaurantName: item.restaurant.url_title, menuItemId: item.id})">
							<img class="img-responsive" src="{{item.picture_url}}" alt="{{item.name}} image" style="max-width:100%;">
						</a>
					</div>
					<div class="col-sm-8">
						<a href class="menu-item-link" ui-sref="menuItem({restaurantName: item.restaurant.url_title, menuItemId: item.id})">
							<h5>{{item.name}}</h5>
							<input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="item.menu_item_score.score" readonly></input-stars>{{item.user_scores[0].score}}
							<span>{{item.description}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>