
<div class="container">
  <h1>Welcome to Delve!</h1>
  <p>We let you view (and rank!) the menus of restaurants, bars, food stands, and more!</p>
  <p>Anyone can view the rankings, but you have to be a member to vote</p>
  <p>Get started below!</p>
  <div class="row">
    <button class="btn btn-lg" type="button">Sign Up Now</button>
  </div>
</div>