.right {
  float: right;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.left {
  float: left;
}

.no-margins {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.menu-item-score {
  display: inline-block;
}

#search-param-selection {
  margin: 15px 0;
  padding-right: 0px;

  div {
    padding-right: 0px;
    margin-right: 0px;
  }
}
#login .modal-dialog, #signup .modal-dialog
{
  width: 25%;
  text-align: center;

}